<section id="contact" class="flex flex-col md:flex-row items-center justify-around min-h-screen bg-gray-300/50 dark:bg-gray-800 px-12 relative overflow-hidden">
    <div class="floating-boxes-container absolute inset-0 -z-10">
        <div *ngFor="let box of floatingBoxes" 
             class="floating-box"
             [ngStyle]="getRandomStyle()"></div>
    </div>
    <div class="text-center py-8 md:text-left max-w-lg z-10">
        <h1 class="text-5xl font-bold text-gray-800 dark:text-white mb-8 italic mb:italic">Hola, soy Jhonatan Aguilar</h1>
        <p class="text-lg text-gray-600 dark:text-gray-300 mb-8">
            2+ años de experiencia. Soy estudiante de octavo semestre de <strong class="text-blue-500  font-bold">Ingenieria en Ciencias y Sistemas</strong> en
            la <strong class="text-blue-500 font-bold"> Universidad de San Carlos de Guatemala.</strong> Soy un apacionado por la tecnologia y la computacion en la nube.
          </p>
        <div class="flex justify-center md:justify-start gap-4">
            <a href="https://github.com/Jhonsagui81" target="_blank" class="flex items-center rounded-full border-2 border-transparent bg-white hover:border-blue-400 focus:outline-none focus:ring-2 focus:ring-blue-400 transition-colors duration-200 ease-in-out px-4 py-2 text-sm text-gray-700 dark:bg-gray-950 dark:text-gray-300">
                <img src="assets/icons/github.png" alt="github logo" class="w-5 h-5 mr-2 fill-current text-blue-500 dark:hidden">
                <img src="assets/icons/github-light.png" alt="github logo" class="w-5 h-5 mr-2 fill-current text-blue-500 hidden dark:block">

                Github
            </a>
            <a href="https://www.linkedin.com/in/jhonatan-aguilar" target="_blank" class="flex items-center rounded-full border-2 border-transparent bg-white hover:border-blue-400 focus:outline-none focus:ring-2 focus:ring-blue-400 transition-colors duration-200 ease-in-out px-4 py-2 text-sm text-gray-700 dark:bg-gray-950 dark:text-gray-300">
                <img src="assets/icons/linkedin.png" alt="linkedin logo" class="w-5 h-5 mr-2 fill-current text-blue-500 dark:hidden">
                <img src="assets/icons/linkedin-ligth.png" alt="linkedin logo" class="w-5 h-5 mr-2 fill-current text-blue-500 hidden dark:block">

                Linkedin
            </a>
            <a href="mailto:reyesjhonatan86@gmail.com" target="_blank" class="flex items-center rounded-full border-2 border-transparent bg-white hover:border-blue-400 focus:outline-none focus:ring-2 focus:ring-blue-400 transition-colors duration-200 ease-in-out px-4 py-2 text-sm text-gray-700 dark:bg-gray-950 dark:text-gray-300">
                <img src="assets/icons/mail.png" alt="correo logo" class="w-5 h-5 mr-2 fill-current text-blue-500 dark:hidden">
                <img src="assets/icons/correo-electronico.png" alt="correo logo" class="w-5 h-5 mr-2 fill-current text-blue-500 hidden dark:block">

                Contactame 
            </a>
        </div>
    </div>
    <div class="mt-8 md:mt-0 z-10">
        <img src="assets/icons/WhatsApp Image 2025-03-16 at 1.19.29 AM.jpg" alt="Foto"
             class="w-64 min-h-80 rounded-[2vw] shadow-lg object-cover">
      </div>
      
    </section>
