<section id="expe" class="relative px-16 pb-16 mx-auto  bg-gray-300/50 dark:bg-gray-800">
    <!-- Título -->
    <div class="flex items-center gap-4 mb-12">
      <svg class="w-8 h-8 text-blue-500" fill="none" stroke="currentColor" viewBox="0 0 24 24">
        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M21 13.255A23.931 23.931 0 0112 15c-3.183 0-6.22-.62-9-1.745M16 6V4a2 2 0 00-2-2h-4a2 2 0 00-2 2v2m4 6h.01M5 20h14a2 2 0 002-2V8a2 2 0 00-2-2H5a2 2 0 00-2 2v10a2 2 0 002 2z"/>
      </svg>
      <h2 class="text-3xl font-bold text-gray-800 dark:text-white">Experiencia</h2>
    </div>


  
    <!-- Timeline Container -->
    <div class="relative md:flex-col justify-center items-center bg-white dark:bg-gray-800">
      <!-- Línea vertical -->
      <div class="absolute  top-0 left-2 h-full w-0.5 bg-black dark:bg-[#34ace0]  md:-translate-x-1/2 z-10"></div>
  
      <!-- Items 1 -->
      <div class=" group space-y-8 md:w-full bg-gray-300/50 dark:bg-gray-800">
        <div class=" absolute w-1/2 py-4 pr-0.5 md:text-right z-10 ">
          <div class="relative pl-14 md:pl-0 md:pr-14">
            <div class="left-1 absolute w-[10px] h-[10px] bg-[#34ace0] top-1.5  rounded-full transition-all   duration-500 group-hover:bg-[#0f0] group-hover:shadow-[0_0_10px_2px_#0f0]"></div>
            <span class="absolute left-12  px-2 bg-blue-500 rounded-3xl text-white w-max">Ene 2022 – May 2022</span>
          </div>
        </div>
        <div class=" relative left-4 h- flex flex-col gap-0.5 hover:bg-gray-300/90  dark:hover:bg-gray-900 z-0 transition-colors duration-500 ease-in-out">
          <!-- Punto y fecha -->
            <div class=" mx-10 py-16  ">
              <h3 class="mb-2 text-2xl font-bold text-[#34ace0]">Tutoria Java</h3>
              <p class="mb-4 text-xl text-black font-bold dark:text-white">
                Escuela de Ciencias y Sistemas de la Facultad de Ingeniería de la USAC
              </p>
              <p class="text-gray-600 text-lg dark:text-gray-400">
                Como parte de un curso llamado "Prácticas Intermedias", realicé un voluntariado donde di tutorías sobre el lenguaje de programación Java a los estudiantes del curso "Introducción a la Programación y Computadoras 1". Estas tutorías abarcaron lógica de programación, Programación Orientada a Objetos, interfaces gráficas e hilos <a href="https://github.com/Jhonsagui81/Turorias_IPC1.git" class="font-serif font-bold text-blue-600" target="_blank">(repositorio)</a>
              </p>
            </div>
        </div>
      </div>


     <!-- Items 1 -->
     <div class=" group space-y-8 md:w-full bg-gray-300/50 dark:bg-gray-800">
      <div class=" absolute w-1/2 py-4 pr-0.5 md:text-right z-10 ">
        <div class="relative pl-14 md:pl-0 md:pr-14">
          <div class="left-1 absolute w-[10px] h-[10px] bg-[#34ace0] top-1.5  rounded-full transition-all   duration-500 group-hover:bg-[#0f0] group-hover:shadow-[0_0_10px_2px_#0f0]"></div>
          <span class="absolute left-12  px-2 bg-blue-500 rounded-3xl text-white w-max">Ene 2021 – May 2025</span>
        </div>
      </div>
      <div class=" relative left-4 h- flex flex-col gap-0.5 hover:bg-gray-300/90  dark:hover:bg-gray-900 z-0 transition-colors duration-500 ease-in-out">
        <!-- Punto y fecha -->
          <div class=" mx-10 py-16  ">
            <h3 class="mb-2 text-2xl font-bold text-[#34ace0]">Proyectos Universitarios</h3>
            <p class="mb-4 text-xl text-black font-bold dark:text-white">
              Escuela de Ciencias y Sistemas de la Facultad de Ingeniería de la USAC
            </p>
            <p class="text-gray-600 text-lg dark:text-gray-400">
              He desarrollado APIs utilizando diferentes lenguajes y frameworks, como Python, TypeScript, C# y Go. He trabajado con Kubernetes en GCP y he implementado APIs con Docker en AWS; estas APIs están conectadas a bases de datos como SQL Server, PostgreSQL, MongoDB y Redis.

Durante mis estudios universitarios, desarrollé varios intérpretes y un minicompilador; también desarrollé una versión reducida de los sistemas de archivos ext2 y ext3 de Linux. Aprendí estructuras de datos utilizando el lenguaje C++ (árboles, matrices, listas y colas).

Actualmente, estoy aprendiendo sobre metodologías ágiles y la nube.
            </p>
          </div>
      </div>
    </div>

    </div>
  </section>