@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

@import '@angular/material/prebuilt-themes/indigo-pink.css';

html {
  scroll-behavior: smooth;
  scroll-padding-top: 6rem; /* Ajusta según la altura de tu header */
}